.container {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 100%;
  gap: 20px;
}

.title {
  color: white;
  margin-bottom: 20px;
}

.overview {
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
    gap: 10px;
  }
}