.card {
  background-color: #2d2e2e;
  height: 500px;
  z-index: 20;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid gray;
  padding-top: 5px;
}

.bigPoster {
  height: 500px;
  transition: 0.5s ease;
  cursor: pointer;
}



.smallPoster {
  height: 120px;
  transition: 0.5s;
  cursor: pointer;
}

.title {
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  border-bottom: 1px solid gray;
  text-align: center;
}

.icon {
  cursor: pointer;
  transition: 0.5s ease;
}

.icon:hover {
  color: #aa7489;
}

@media only screen and (max-width: 768px) {
  .card,
  .bigPoster {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .bigPoster:hover {
    transform: scale(1.2);
  }
}
