.home{
  margin-top: 80px;
  text-align: center;
}

.title {
  color: white;
  margin: 40px 0;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .home{
    margin-top: 60px;
  }
}