.header{
  background-color:#4F4F4F;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main{
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.menu {
  color: #AA7489;
  font-size: 40px;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    cursor: pointer;
    padding: 12px 5px;
  } 

  .header {
    padding: 5px;
  }
}