.dialog{
  background-color: #2d2e2e15;
}

.button{
  color: white;
  border-color: white;
  font-size: 18px;
  transition: .5s;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.button:disabled {
  color: rgb(110, 110, 110);
  border-color: rgb(110, 110, 110);
}

.button:hover{
  border-color: #b45177;
  color: #b45177;
}

.accordion{
  background-color: transparent;
  color: white;
}

.episodesContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.episode{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #2d2e2e;
  transition: 0.5s;
  text-align: left;
  font-size: 15px;
}

.selectedEpisode{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #b45177;
  background-color: #2d2e2e;
  transition: 0.5s;
  text-align: left;
  font-size: 15px;
}

.episode:hover, .selectedEpisode:hover{
  color: #b45177;
  background-color: rgba(170, 116, 137, 0.075);
}