@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,200&display=swap');

*{
  font-family: 'JetBrains Mono', monospace;
  user-select: none;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root{
  background-color: #2D2E2E;
  min-height: 100%;
}

:root{
  scrollbar-color: #4F4F4F #2D2E2E !important;
  scrollbar-width: 15px !important;
}

.swiper-pagination-bullet{
  background-color: white !important;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: #b45177 !important;
}

