.genre .clicked {
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: 700;
}

.genre {
  color: #aa7489;
  font-weight: 700;
}

.genre:hover {
  color: #b45177;
}

.clicked {
  color: #b45177;
  transform: scale(1.2);
  font-weight: 700;
}
