.menu {
  color: #AA7489;
  font-size: 40px;
  padding: 6px 0;
  display: none;
}

.drawer{
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
}
