.wrapper{
  height: 220px;
  width: 200px;
  transition: .3s ease;
  z-index: 20;
  position: relative;
  background-color: #2D2E2E;
}

.poster{
  width: 100%;
  height: 220px;
  cursor: pointer;
  transition: .5s ease;
}

.content{
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  margin: 0;
}

.cardButtons{
  color: #AA7489;
  font-size: 50px;
}

.bigPoster{
  width: 200px;
  height: 220px;
  cursor: pointer;
  transition: .5s ease;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
}

.details{
  margin: 0;
}

.runtime{
  background-color: white;
  border-radius: 3px;
  font-size: 17px;
  padding: 2px;
  font-weight: 600;
}

.iconWrapper{
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 768px){
  .wrapper:hover{
    transform: scale(1.1);
    z-index: 111;
    height: 340px;
  }
}