.wrapper {
  height: 270px;
  width: 200px;
  transition: 0.3s ease;
  z-index: 20;
  position: relative;
  background-color: #2d2e2e;
}

.poster {
  width: 100%;
  height: 270px;
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  margin: 0;
}

.cardButtons {
  color: #aa7489;
  font-size: 50px;
}

.bigPoster {
  width: 200px;
  height: 220px;
  cursor: pointer;
  transition: 0.5s ease;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
}

.details {
  margin: 0;
}

.runtime {
  background-color: white;
  border-radius: 3px;
  font-size: 17px;
  padding: 2px;
  font-weight: 600;
}

.iconWrapper {
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .wrapper:hover {
    transform: scale(1.1);
    z-index: 111;
    height: 350px;
  }
}
