.avatar {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: .2s;
}

.avatar:hover{
  transform: scale(1.2);
}

.headerAvatar{
  width: 55px;
  height: 55px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headerAvatar {
    width: 45px;
    height: 45px;
    margin-left: 10px;
  }
}