.button {
  position: fixed;
  bottom: 20px;
  right: 50px;
  color: #b45177;
  font-size: 55px;
  cursor: pointer;
  z-index: 5;
}


@media screen and (max-width: 768px) {
  .button {
    padding-bottom: 70px;
  }
}

