.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #aa7489;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
